If a Comment is not provided, report the following error:
#if (!$errorMessage || $errorMessage=="")
    <b>You must provide a Comment.</b>&nbsp;
#else
    <b>$errorMessage</b>.&nbsp;
#end
#if (${val-groupsListSelected})
  #if (${val-groupsListSelected.isEmpty()})
  #else
    Users in any of following groups will not need to provide a comment: 
    #foreach ($singleValue in ${val-groupsListSelected})
      <b>$!singleValue.getName()</b>#if ($velocityCount != ${val-groupsListSelected.size()}), #end
    #end
  #end
#end