#if (${projectrolename})
Assign the issue to the last user from the <b>${projectrolename}</b> role who had this issue assigned before
#if (${includeReporter} && ${includeReporter}=="yes")
, or who reported it
#end
#if ($includeCurrentAssignee && $includeCurrentAssignee=="yes")
 , or is already assigned to the issue
#end
#if ($skipIfAssignee && $skipIfAssignee=="yes")
 (unless user selects an Assignee in the transition screen)
#end
.
#else
$i18n.getText("admin.workflow.condition.isuserinprojectrole.view.missing","$projectrole")
#end