#if (${projectrolename})
Assign the issue to the last user from the <b>${projectrolename}</b> role that had this issue assigned before
#if (${includeReporter}=="yes")
 or who reported it
#end
#if ($skipIfAssignee && $skipIfAssignee=="yes")
 (unless user selects an Assignee)
#end
.
#else
$i18n.getText("admin.workflow.condition.isuserinprojectrole.view.missing","$projectrole")
#end