#if ($appendValues && $appendValues=='yes')
Value of field
#if(${val-sourceFieldSelected})
    <b>${val-sourceFieldSelected.name}</b>
#end
will be added to field
#if(${val-destinationFieldSelected})
    <b>${val-destinationFieldSelected.name}</b>
#end
#else
The Field 
#if(${val-destinationFieldSelected})
    <b>${val-destinationFieldSelected.name}</b>
#end
 will take the value from 
#if(${val-sourceFieldSelected})
    <b>${val-sourceFieldSelected.name}</b>
#end
#end
#if ($oldValue && $oldValue=='yes')
 (using value before current transition)
#end
.
